<li id="<%= course.id %>">
  <span class="user"><b><%= course.name %></b></span>
  <span class="user"><%= course.instruction %></span>
  <span class="user"><%= I18n.l course.start_date %></span>
  <span class="user"><%= I18n.l course.end_date %></span>
</li>
